 
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
              }
  
}
.fixed-top{
    background-color: beige;
    opacity: 0.9
}
nav a {
    font-size: 20px;
    color:white;
    margin: 5px;
}

.carousel-item {
  height: 90vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
         width : 100%;
        overflow: auto;
     
}
.carousel-item img{
     
    width: 90%;
    height: auto;
    display: block;
}

.portfolio-item {
  margin-bottom: 30px;
}
.carousel-caption{
     background: rgba(96, 05, 10, 0.20);
}
footer{
    padding-bottom:0;
}
.py-5 bg-dark{
    height: 100px;
}

 
